<header>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Creepster&family=Poppins&display=swap" rel="stylesheet" />
</header>
<div class="container">
	<div class="character-list home-header">
		<h1 id="inicio" class="creepster-regular">INÍCIO</h1>
		<input
			id="input-search"
			placeholder="Pesquise personagens"
			class="search-character"
			matInput
			type="text"
			[(ngModel)]="searchTerm"
			(input)="searchCharacters()"
		/>
	</div>

	<div id="size-display" class="character-list">
		<div class="row" *ngFor="let chunk of chunkedCharacters">
			<div *ngFor="let character of chunk">
				<mat-card *ngIf="character" class="character-card container">
					<button class="favorite-button" mat-icon-button (click)="toggleFavorite(character)">
						<mat-icon [ngClass]="isFavorite(character) ? 'black-icon' : 'white-icon'">favorites</mat-icon>
					</button>
					<img
						[src]="'https://rickandmortyapi.com/api/character/avatar/' + character.id + '.jpeg'"
						alt="{{ character.name }} Avatar"
					/>

					<mat-card-content class="character-info">
						<h2 class="creepster-font-white">{{ character.name }}</h2>
						<p>Status: {{ character.status }}</p>
						<p>Species: {{ character.species }}</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
<app-no-results-found *ngIf="filteredCharacters.length === 0"></app-no-results-found>
<div class="pagination container">
	<button mat-button class="footer-button" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
		Anterior
	</button>
	<span>Pág. {{ currentPage }} de {{ totalPages }}</span>
	<button mat-button class="footer-button" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
		Próxima
	</button>
</div>

<router-outlet></router-outlet>
