
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.character-card {
  width: 20em;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}
